.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  height: var(--footer-height);
  background-color: var(--dark-color);
  color: var(--tertiary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-top: 2px solid var(--secondary-color);
}
