/*////////////////////  PONG GAME //////////////////////////////*/

/* Modal that contains the Game */
.modal-game {
	display: none;
	justify-content: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: var(--nav-height);
	width: 100%;
	height: calc(100vh - calc(var(--nav-height) + var(--footer-height)));
	background-color: var(--background-color);
  }

#countdown {
	position: fixed;
	left: 1rem;
	bottom: var(--footer-height);
	color: var(--success-color);
	font-size: 1rem;
}

.bracket-container {
  position: relative;
  width: 100%;
  margin-top: var(--nav-height);
  margin-bottom: var(--footer-height);
  height: var(--app-height);
  background-size: cover;
}

.round-container {
	display: flex;
	width: 100vw;
	height: calc(var(--app-height) - 5rem);
  margin-bottom: var(--footer-height);
	overflow: hidden;
}

.round1-left {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 25%;
	border: 2px solid var(--secondary-color);
}

.round1-right {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 25%;
	border: 2px solid var(--secondary-color);
}

.round2 {
	display: grid;
	/* justify-content: center; */
	width: 50%;
	align-items: center;
}

.username-div-round2 {
	display: flex;
	justify-content: space-around;
	position:relative;
	border: 2px solid var(--primary-color);
}

.winner-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	bottom: 25%;
	position: sticky;
	border: 2px solid var(--success-color);
	margin: 0 35%
}