/*////////////////////  PONG GAME //////////////////////////////*/

.board {
  /* margin-top: calc(var(--nav-height) + 1rem); */
  margin-top: 1rem;
  position: relative;
  /* padding-top: 1000px; */
  /* height: 70vh; */
  --game-height: calc(100vh - (calc(var(--nav-height)) + var(--footer-height) + 2rem));
  /* Should set height and width based on  */
  height: var(--game-height);
  width: calc(var(--game-height) * 1.5);
  max-width: calc(100vw - 2rem);
  /* Setting min width and height to avoid weird dims */
  min-width: 450px;
  min-height: 300px;
  background-image: linear-gradient(
          to right, #8c5c916f, #839b9779);
  border-radius: 9px;


  /* mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
  mask-size: 100% 2px;
  text-shadow: 0 0 0.5rem; */


  overflow: hidden; 

}

.paddle {
  height: 150px;
  width: 1px;
  position: absolute;
  border-right: 10px solid var(--tertiary-color);
  box-shadow: inset -6px 0 4px -4px rgba(255, 255, 255, 0.5),
  6px 0 4px -4px rgba(255, 255, 255, 0.5);
}

.paddle_1 {
  top: 24%;
  /* left: calc(10vw + 120px); */
  left: 1%;
  transform: translateY(-50%);
  /* box-shadow: inset 0 0 18px #fff,
      inset -6px 0 18px #f3bad6,
      inset -6px 0 30px #f3bad6,
      inset 6px 0 30px #0ff, 
      0 0 18px #fff, 4px 0 18px*/
}

.paddle_2 {
  top: 80%;
  /* right: calc(20vw + 20px);  */
  right : 7%;
  transform: translateY(-50%);
  /* box-shadow: inset 0 0 18px #fff,
      inset 6px 0 18px #f3bad6,
      inset -6px 0 18px #0ff,
      inset 6px 0 30px #f3bad6,
      inset -6px 0 30px #0ff,
      0 0 18px #fff, -4px 0 18px
      #f3bad6, 4px 0 18px #0ff; */
}

.ball {
  position: absolute;
  height: 30px;
  width: 30px;
  background-color: var(--secondary-color);
  position: fixed;
  top: 58%;
  left: 49%;

  box-shadow: inset 0 0 10px var(--secondary-color),
  0 0 10px var(--secondary-color);
}

.game-message {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-bottom: 0.5rem;
  animation: animate 3s linear infinite;
  color: var(--primary-color);
}

/* Modal that contains the Game */
.modal-game {
  display: none;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: var(--nav-height);
  width: 100%;
  height: calc(100vh - calc(var(--nav-height) + var(--footer-height)));
  background-color: var(--background-color);
}

/* .ball_effect {
  height: 100%;
  width: 100%;
  border-radius: 100px;
  box-shadow: inset 0 0 18px #fff,
      inset 6px 0 18px violet,
      inset -6px 0 18px #0ff,
      inset 6px 0 30px violet,
      inset -6px 0 30px #0ff,
      0 0 18px #fff, -4px 0 18px
      violet, 4px 0 18px #0ff;
} */

/* responsible for blinking text on game */
@keyframes animate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
} 