:root {
  font-family: "VT323", monospace;
  font-weight: 400;
  /* font-color: #eeeeee; */
  --primary-color: #58ffec;
  --secondary-color: #fc0892;
  --tertiary-color: #f1d2ee;
  --background-color: #040847;
  --white-color: #ffffff;
  --dark-color: rgb(30, 23, 66);
  /* scrollbar-color: var(--primary-color) var(--secondary-color); */
  font-size: clamp(18px, 3vw, 30px);
  --nav-height: 100px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--background-color);
  /* cursor: url('./assets/mouse.svg'); */

  mask-image: linear-gradient(to bottom, #0005 50%, #000000 50%);
  mask-size: 100% 2px;
  text-shadow: 0 0 0.5rem;
}

div.retro-container {
  width: 90vw;
  height: 90vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  padding: 0.5rem;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  /* mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
  mask-size: 100% 2px;
  text-shadow: 0 0 0.5rem; */
}

header,
footer {
  display: flex;
  gap: 2rem;
  align-items: center;
}

main {
  overflow: hidden;
}

section {
  height: 100%;
  overflow: hidden auto;
  margin: 1rem 0;
}

a {
  color: var(--secondary-color);
}

button {
  background-color: var(--primary-color);
  color: var(--background-color);
  font-family: var(--font-family);
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button[type=select] {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  border: 2px solid var(--primary-color);
  background: var(--dark-color);
  /* margin: 0 3px; */
}

button[type=select]:hover {
  color: var(--dark-color);
  background: var(--primary-color);
  cursor: pointer;
}

button[type=submit] {
  display: block;
  padding: 12px 18px;
  color: var(--secondary-color);
  background-color: var(--dark-color);
  border: 2px solid var(--secondary-color);
  font-weight: 700;
  /* cursor: pointer; */
  font-family: var(--font-family);
  font-size: large;
  border-color: var(--secondary-color);
  /* mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
  mask-size: 100% 2px;
  text-shadow: 0 0 0.5rem; */
}

button[type=submit]:hover {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--white-color);

  /* mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
  mask-size: 100% 2px;
  text-shadow: 0 0 0.5rem; */
}

h1, h2, p {
  color: var(--primary-color); 
  /* mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
  mask-size: 100% 2px; 
  text-shadow: 0 0 0.5rem; */

  /* color: rgb(234, 217, 245) ;
  text-align: center;
  letter-spacing: 0.033em;
  text-shadow: -0.033em 0 1px rgba(255,0,0,0.67), 0.033em 0 1px rgba(0, 255, 255, 0.67); */
}

input {
  background-color: var(--tertiary-color);
  font-size: 1rem;
  border: none;
  color: (var(--primary-color));
  font-family: var(--font-family);
  margin-bottom: 0.5rem;
}

input:focus {
  outline: none;
}

#app {
  margin: 2em;
  margin-top: var(--nav-height); /* overwrites only the margin top attribute */
  /* margin: var(--nav-height) 2em 2em 2em; top right bottom left */
}