/* Navbar styling */
.nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  /* width: var(--nav-width); */
  /* height: 100vh; */
  width: 100%;
  height: var(--nav-height);
  background: #040847;
  z-index: 1;
  border-bottom: 2px solid var(--secondary-color);
}

.nav__left,
.nav__right {
  display: flex;
  align-items: center;
}

.nav__link {
  display: block;
  line-height: var(--nav-button-height);
  padding: 0 18px;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 700;
  border: 2px solid var(--secondary-color);
  background: #00000000;
  margin: 0 3px;
}

.nav__link:hover {
  background: var(--secondary-color);
  color: var(--white-color);
  cursor: pointer;

}

.nav__button {
  display: block;
  line-height: var(--nav-button-height);
  padding: 0 18px;
  text-decoration: none;
  color: var(--white-color);
  font-weight: 500;
  border: none;
  background: var(--dark-color);
  margin: 0 3px;
}

.nav__button:hover {
  background: var(--primary-color);
  color: var(--dark-color);
}

.user-name {
  font-weight: 500;
}

.user-pic {
  margin: 10px 10px 10px 0;
}

#registerBtn {
  display: flex;
}

#loginBtn {
  display: flex;
}

#logoutBtn {
  display: none;
}

#userBtn {
  display: none;
}