/* effects that are works in progress */

/* div.retro-container {
  mask-image: linear-gradient(to bottom, #0005 50%, #000 50%);
  mask-size: 100% 2px;
} */



/**************************************************************************/

/*Rectangular caret blinking : WORKS */

/* .container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.box {
  padding: 0 50px 0 10px;
  border: 2px solid #656464;
  border-radius: 10px;
}

p.motherSpeaking {
  display: flex;
  align-items: center;
  gap: 2px;
}

p.motherSpeaking::after {
  content: "";
  width: 10px;
  height: 20px;
  background: #ffffff;
  display: inline-block;
  animation: cursor-blink 1.5s steps(2) infinite;
}

@keyframes cursor-blink {
  0% {
    opacity: 0;
  }
} */



/****************************************************************/

/*Typewriter effect : WORKS */


/* p.motherSpeaking {
  color: #fff;
  font-family: var(--font-family);
  overflow: hidden; 
  border-right: .50em solid #fff; 
  white-space: nowrap; 
  margin: 10 auto; 
  letter-spacing: .15em; 
  animation: 
    typing 2s steps(30, end),
    blink-caret 1.5s step-end infinite;
}


@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  30% { border-color: #fff }
} */

/* not working old crt refresh effect */
/* #old-crt-monitor {
  box-shadow: inset 0px 0px 2rem;
  background-image: linear-gradient(0deg, #ff0000 10%, rgb(0, 255, 21) 90%, #0000 100%);
  animation: crtAnimation 100s linear infinite;
  background-size: 100% 80%;
} */

/* @keyframes crtAnimation {
  0% {
      background-position: 0 0;
  }

  100% {
      background-position: 0 10000%;
  }
} */