body {
  /* --nav-width: 200px; */
  --nav-height: 60px;
  margin: 0 0 0 var(--nav-width);
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

a {
  color: #009579;
}

pre {
  margin: 0;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  /* width: var(--nav-width); */
  /* height: 100vh; */
  width: 100%;
  height: var(--nav-height);
  background: #222222;
  display: flex;
  align-items: center;
}

.nav__link {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  font-weight: 500;
}

.nav__link:hover {
  background: rgba(255, 255, 255, 0.05);
}

.response-box {
  width: 100%;
  padding: 0;
  text-align: left;
  vertical-align: top;
  background-color: rgb(215, 210, 210);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Modal Content */
.modal-content {
  background-color: white;
  /* margin: 15% auto; 15% from the top and centered */
  margin: calc(5vw) calc(5vw);
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

/* When the cursor is hovering over the close button */
.close:hover,
.close:focus {
  color: black;
  cursor: pointer;
}

.nav__button {
  display: block;
  padding: 12px 18px;
  text-decoration: none;
  color: #eeeeee;
  background: #222222;
  /* font-weight: 500; */
  border: none;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.nav__button:hover {
  background: rgba(255, 255, 255, 0.05);
}

#app {
  margin: 2em;
  margin-top: var(--nav-height); /* overwrites only the margin top attribute */
  /* margin: var(--nav-height) 2em 2em 2em; top right bottom left */
  line-height: 1.5;
  font-weight: 500;
}

#userContent {
  width: 100%;
  height: 40vh;
  min-height: 200px;
  padding: 0;
  text-align: left;
  vertical-align: top;
}

#registerForm {
  display: block;
}

#login {
  display: block;
}

#logout {
  display: none;
}