<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Single Page Application</title>
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="icon" href="/static/favicon.ico">
    <code>
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
    </code>
  </head>
  <body>
    <!-- navbar -->
    <nav class="nav">
      <div class="nav__left">
        <a href="/" class="nav__link" data-link>Dashboard</a>
        <a href="/settings/" class="nav__link" data-link>Settings</a>
        <a href="/game/" class="nav__link" data-link>Game</a>
      </div>
      <div class="nav__right">
        <button class="nav__button" id="loginBtn">Login</button>
        <button class="nav__button" id="registerBtn">Register</button>
        <button class="nav__button" id="userBtn">
          <img id="userPic" src="" alt="" width="32" height="32">
          <div id="userName">User</div>
        </button>
        <button class="nav__button" id="logoutBtn">Logout</button>
      </div>
    </nav>
    <!-- modal for forms -->
    <div id="formModal" class="modal-forms">
      <div class="modal-content-box">
        <span class="close">&times;</span>
        <span class="back">&larrhk;</span>
        <div id="modalContent"></div>
      </div>
    </div>
    <!-- app -->
    <div id="app"></div>
    <!-- game -->
    <div id="game" class="modal-game"></div>
    <script type="module" src="/static/js/index.js"></script>
  </body>
</html>