{% load static %}
<!DOCTYPE html>
<html lang=en>

<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet">
	<script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
	<script src="https://unpkg.com/htmx.org/dist/ext/ws.js"></script>
	<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>
{% comment %}
The following script tag is for Alpine.js (used in the frontend chat dropdown functionality)... TO BE CHANGED ?!
{% endcomment %}
	<script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

</head>

<body>
	{% include 'header.html' %}

	{% if messages %}
		{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
				{{ message }}
			</li>
		{% endfor %}
	{% endif %}

	<div>
		{% block content %}

			{% if request.user.is_authenticated %}
				<p>{{ request.user.username }} is authenticated.</p>
				<p>profile image: {{ request.user.profile_image.url }}</p>
			{% else %}
				<p>not logged in</p>

			{% endif %}

		{% endblock content %}
	</div>

	{% include 'footer.html' %}

	{% block scripts %}
	{% endblock scripts %}

</body>

</html>
