{% extends 'layout.html' %}

{% load static %}

{% load allauth account %}

{% comment %}
{% endcomment %}

{% block content %}

    {% element h1 %}
		Sign In !
    {% endelement %}

{% comment %}
    {% if not SOCIALACCOUNT_ONLY %}

        {% setvar link %}
            <a href="{{ signup_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}

        {% url 'account_login' as login_url %}

        {% element form form=form method="post" action=login_url tags="entrance,login" %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form unlabeled=True %}
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" tags="prominent,login" %}
					SIGN IN
                {% endelement %}
            {% endslot %}
        {% endelement %}


    {% endif %}

{% endcomment %}

    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}

{% endblock content %}

{% comment %}
{% endcomment %}
